/* Orbitron 字体 */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/orbitron/orbitron-v34-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/orbitron/orbitron-v34-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/orbitron/orbitron-v34-latin-700.woff2') format('woff2');
}
